/Semester\ 1/Algebra/Lectures
/Semester\ 1/Analiza/Lectures
/Semester\ 1/Arhitectura\ sistemelor\ de\ calcul/Lectures
/Semester\ 1/Fundamentele\ programarii/Lectures
/Semester\ 1/Logica\ Computationala/Lectures
/Semester\ 2/Geometrie/Lectures
/Semester\ 2/Programare\ Orientata\ pe Obiect/Lectures
/Semester\ 2/Sisteme\ de\ Operare/Lectures
/Semester\ 2/Sisteme\ de\ Operare/Lectures
/Semester\ 2/Sisteme\ Dinamice/Lectures
/Semester\ 3/Baze\ de\ Date/Lectures
/Semester\ 3/Metode\ Avansate\ de\ Programare/Lectures
/Semester\ 3/Probabilitati\ si\ Statistica/Lectures
/Semester\ 3/Programare\ Logica\ si\ Functionala/Lectures
/Semester\ 3/Retele\ de\ Calculatoare/Lectures