/Semester\ 1/Algebra/Lectures
/Semester\ 1/Mathematical Analysis/Lectures
/Semester\ 1/Computer\ Systems\ Architecture/Lectures
/Semester\ 1/Fundamentals\ of\ Programming/Lectures
/Semester\ 1/Computational\ Logic/Lectures
/Semester\ 2/Geometry/Lectures
/Semester\ 2/Object\ Oriented\ Programming/Lectures
/Semester\ 2/Operating\ Systems/Lectures
/Semester\ 2/Dynamical\ Systems/Lectures
/Semester\ 2/Graph\ Algorithms/Lectures
/Semester\ 2/Data\ Structures\ and\ Algorithms/Lectures
/Semester\ 3/Databases/Lectures
/Semester\ 3/Advanced\ Programming\ Methods/Lectures
/Semester\ 3/Probabilities\ and\ Statistics/Lectures
/Semester\ 3/Logical\ and\ Functional\ Programming/Lectures
/Semester\ 3/Computer\ Networks/Lectures