<div class="container">
  <div class="details">
    <div class="insideDetails">
      <button (click)="onBack()">Back</button>
      <h1>Foods</h1>
    </div>
    <button class="add" (click)="navigateToAdd()">
      Add food
    </button>
  </div>
  <table>
    <tr>
      <th> NAME </th>
      <th> PRODUCER </th>
      <th> EXPIRATION DATE </th>
      <th> ACTION </th>
    </tr>
    <tr *ngFor="let food of foods">
      <td>{{food.name}}</td>
      <td>{{food.producer}}</td>
      <td>{{dateOf(food.expirationDate)}}</td>
      <td>
        <button id="updateButton" (click)="navigateToUpdate(food.id)">Update</button>
        <br>
        <button id="deleteButton" (click)="navigateToDelete(food.id)">Delete</button>
        <br>
      </td>
    </tr>
  </table>
</div>
