<app-menu> </app-menu>

<div class="games-bar">
  <h1 class="game-bar-h1"> GAMES </h1>
  <p><b> Please specify the game you want to search for. </b></p>

  <div class="search-bar-alignment">
    <form class="search-bar">
      <mat-form-field class="search-bar-full-width" appearance="fill">
        <mat-label> Game </mat-label>
        <input matInput type="text" #game>
        <button matSuffix mat-icon-button aria-label="Search" (click)="searchGames(game.value)">
          <mat-icon> search </mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div class="divider">
    <mat-divider style="width: 50%;"> </mat-divider>
  </div>

  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let game of this.pagedList">

      <div>
        <mat-card class="game-card">
          <img mat-card-image src="{{ game.pictureUrl }}" alt="{{ game.title }}">

          <mat-card-content>
            <h1 class="game-bar-h1"> {{ game.title }} </h1>

            <ng-container [ngTemplateOutlet]='game.id % 4 == 0 ? thenBlock : elseBlock'
                          [ngTemplateOutletContext]="{id:game.id}"> </ng-container>

            <ng-template #thenBlock let-number='id'>
              <p>
                <b style="color: yellow;"> -{{ (game.id + 1) * 5 }}% </b>
                <b> {{ game.price }}€ </b>
              </p>
            </ng-template>

            <ng-template #elseBlock let-number='id'>
              <p>
                <b> {{ game.price }}€ </b>
              </p>
            </ng-template>
          </mat-card-content>

          <mat-card-actions style="display: flex; align-content: center; justify-content: center;">
            <button (click)="goToInfoGamePage(game.title)"
                    mat-fab
                    color="primary"
                    aria-label="See details"
                    matTooltip="Info about the game"
                    matTooltipClass="example-tooltip-red"
                    class="example-button">
              <mat-icon> info </mat-icon>
            </button>

            <button *ngIf="!gameOwned(game)" (click)="goToPurchaseGamePage(game.title)"
                    mat-fab
                    color="primary"
                    aria-label="Purchase game"
                    matTooltip="Purchase game"
                    class="example-button">
              <mat-icon> add </mat-icon>
            </button>

            <button *ngIf="!gameWished(game)" (click)="addToWishList(game)"
                    mat-fab
                    color="primary"
                    aria-label="Add to wishlist"
                    matTooltip="Add to wishlist"
                    class="example-button">
              <mat-icon color="accent"> star </mat-icon>
            </button>

            <button *ngIf="gameWished(game)" (click)="removeFromWishList(game)"
                    mat-fab
                    color="accent"
                    aria-label="Remove from wishlist"
                    matTooltip="Remove from wishlist"
                    class="example-button">
              <mat-icon color="primary"> star </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator [length]="this.games.length"
                 [pageSize]="3" [pageSizeOptions]="[3, 6]" (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons>
  </mat-paginator>
</div>
