.divider {
  display: flex;
  justify-content: center;
  align-content: center;
}

.games-bar {
  margin-top: 70px;
}

.game-card {
  max-width: 450px;
  box-shadow: rebeccapurple 1px 10px 20px 10px;
}

.example-button {
  margin-left: 10px;
}

.game-bar-h1 {
  text-align: center;
  color: rebeccapurple;
}

p {
  text-align: center;
}

.search-bar {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-bar-full-width {
  width: 100%;
}

.search-bar-alignment {
  display: flex;
  justify-content: center;
  align-content: center;
}
