.left-to-right {
  display: flex;
}

.profile-header-img {
  padding: 16px;
}

.titles-to-the-right-of-avatar {
  padding: 16px;
  width: 60%;
}

.profile-title {
  margin-left: 24px;
  margin-bottom: 12px;
}

.content-on-the-right {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}

.score-font {
  font-size: 20px;
  font-weight: bold;
}

.game-card {
  margin-top: 16px;
  max-width: 450px;
  margin-left: 16px;
}

.games {
  margin-right: 16px;
}

.profile-view-container {
  margin-top: 32px;
  width: 60%;
  background: #eadeff;
}

.bg-div {
  min-height: 100%;
  height: fit-content;
  background-image: url("src/cover.png");
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 54px;
}

.big-div {
  height: fit-content;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 54px 0 0;
}

.friend-button {
  margin-left: 32px;
  margin-bottom: 32px;
  background: #482669;
  color: white;
}

.reviews {
  margin: 16px;
}

