html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: fit-content;
    width: 50%;
    border-radius: 10px;
    background: lightsalmon;
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 100%;
    border: 2px solid darkorange;
    border-radius: 4px;
    color: black;
    margin: 3px;
    padding: 3px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    border: 2px solid darkred;
    border-radius: 7px;
    background: lightsalmon;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.button_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}