/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

app-show-users, app-add-user, app-update-user, app-login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
