$piece-size: 80px

.chessboard
  display: grid
  grid-template-columns: $piece-size $piece-size $piece-size $piece-size $piece-size $piece-size $piece-size $piece-size

.piece
  height: $piece-size
  width: $piece-size

.state
  font-weight: bolder
  color: darkred
  font-size: x-large
  white-space: nowrap
