<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source = (LocalDb)\MSSQLLocalDb; Initial Catalog = {0}; Integrated Security = SSPI;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--
		<add key="Database" value="chess"/>
		<add key="ParentTableName" value="ChessboardCompany"/>
		<add key="ChildTableName" value="Chessboard"/>
		<add key="SelectChild" value="select * from Chessboard"/>
		<add key="SelectParent" value="select * from ChessboardCompany"/>
		<add key="ChildForeignKey" value="comp_id"/>
		<add key="ParentReferencedKey" value="comp_id"/>
		<add key="ForeignKey" value="FK__Chessboar__comp__29572725"/>
		-->

		<add key="Database" value="chess"/>
		<add key="ParentTableName" value="Tournament"/>
		<add key="ChildTableName" value="Game"/>
		<add key="SelectChild" value="select * from Game"/>
		<add key="SelectParent" value="select * from Tournament"/>
		<add key="ChildForeignKey" value="tid"/>
		<add key="ParentReferencedKey" value="tid"/>
		<add key="ForeignKey" value="FK__Game__tid__2F10007B"/>
	</appSettings>
</configuration>