.myContainer {
  min-height: 100%;
  height: fit-content;
  background-image: url("src/cover.png");
  background-repeat: repeat-y;
  background-size: cover;
  padding-bottom: 54px;
  padding-top: 100px;
}

.container {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 10% 40% 5% 5% 5% 30%;
  grid-template-columns: 5% 30% 30% 34% 1%;
  grid-template-areas:
  ". . . . ."
  ". a . e ."
  ". b b c ."
  ". . d . ."
  ". . . . ."
  ". g . . ."
  ". f f f .";
  background: #eadeff;
  padding-bottom: 54px;
}

.title {
  color: rebeccapurple;
  text-align: center;
}

.item1 {
  grid-area: a;
  justify-self: start;
  align-self: center;
}

.item2 {
  grid-area: b;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}

.item2 img {
  height: 100%;
  width: 100%;
}

.item3 {
  grid-area: c;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-left: 25px;
}

.item4 {
  grid-area: d;
  justify-self: center;
  align-self: start;
  padding: 16px;
}

ul {
  margin-left: 20px;
}

.item5 {
  grid-area: e;
  justify-self: center;
  align-self: center;
}

.item6 {
  margin-top: 20px;
  grid-area: g;
}

.item7 {
  margin-top: 30px;
  grid-area: f;
}

.rating-list li {
  float: right;
  color: #ecdffa;
  padding-left: 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: rebeccapurple;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.btn-outline-, .btn-outline-:hover, .btn-outline-:active, .btn-outline-:visited {
  color: rebeccapurple !important;
}

.btn-outline- {
  border-color: rebeccapurple !important;
}

.container_review_text {
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 16px;
}

.review_text {
  margin-left: 5px;
  margin-top: 10px;
}

.reviews {
  margin: 16px;
}

.star-color {
  color: purple;
}

.star-color:hover {
  color: black;
}
