<app-menu></app-menu>

<div class="container_center">

  <mat-card>

    <div class="logo" mat-card-avatar></div>
    <mat-card-title> Hello, {{this.username}}!</mat-card-title>
    <mat-card-subtitle> Your profile details</mat-card-subtitle>

    <mat-card-content>
      <mat-form-field appearance="fill" hintLabel="Max 20 characters">
        <mat-label> Enter your first name</mat-label>
        <input #first_name [formControl]="this.utils.firstName" matInput maxlength="20"
               required value="{{this.user.firstName}}">
        <mat-hint align="end"> {{first_name.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="this.utils.firstName.invalid"> {{this.utils.getErrorMessageForFirstName()}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Max 20 characters">
        <mat-label> Enter your last name</mat-label>
        <input #last_name [formControl]="this.utils.lastName" matInput maxlength="20"
               required value="{{this.user.lastName}}">
        <mat-hint align="end"> {{last_name.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="this.utils.lastName.invalid"> {{this.utils.getErrorMessageForLastName()}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Enter your email</mat-label>
        <input #Email [formControl]="this.utils.email" matInput
               required value="{{this.user.email}}">
        <mat-error *ngIf="this.utils.email.invalid"> {{this.utils.getErrorMessageForEmail()}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Bio</mat-label>
        <textarea #bio matInput value="{{this.user.bio}}"> </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Avatar URL</mat-label>
        <textarea #avatar matInput value="{{this.user.avatarUrl}}"> </textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Enter your current password</mat-label>
        <input #Password [formControl]="this.utils.password" [type]="this.utils.hidePassword? 'password': 'text'"
               matInput
               placeholder="Current password" required>
        <button (click)="this.utils.hidePassword = !this.utils.hidePassword" mat-icon-button matSuffix>
          <mat-icon> {{this.utils.hidePassword ? 'visibility_off' : 'visibility'}} </mat-icon>
        </button>
        <mat-error *ngIf="this.utils.password.invalid"> {{this.utils.getErrorMessageForPassword()}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label> Enter your new password</mat-label>
        <input #NewPassword [formControl]="this.utils.newPassword" [type]="this.utils.hideNewPassword? 'password': 'text'"
               matInput
               placeholder="New password" required>
        <button (click)="this.utils.hideNewPassword = !this.utils.hideNewPassword" mat-icon-button matSuffix>
          <mat-icon> {{this.utils.hideNewPassword ? 'visibility_off' : 'visibility'}} </mat-icon>
        </button>
        <mat-error *ngIf="this.utils.newPassword.invalid"> {{this.utils.getErrorMessageForNewPassword()}} </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button (click)="updateProfile(Password.value, NewPassword.value,
                bio.value, last_name.value, first_name.value, Email.value, avatar.value)" color="primary"
                mat-raised-button> UPDATE
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
