body {
	background-color: #fcbde8;
}

img {
	height: 100%;
	width: 100%;
	opacity: 80%;
}

img:hover {
	opacity: 100%;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

td {
	text-align: center;
	width: 25%;
}

tr:nth-child(even) {
	background-color: #fca1df;
}